ui-input {
  .valid-feedback {
    display: block;
  }
  .invalid-feedback {
    display: block;
  }

  .input-group-append {
    .input-group-text {
      min-width: 2em;
    }
    .input-group-flag {
      position: absolute;
      right: 0.5em;
      width: 16px;
      height: 16px;
      &.input-group-flag-empty {
        background-color: #ffffff;
        border: solid 1px #ff0000;
        &::after {
          content: " ";
          height: 1px;
          width: 20px;
          background-color: #ff0000;
          position: absolute;
          top: -.5px;
          right: 0;
          transform: rotate(-45deg);
          transform-origin: top right;
        }
      }
    }
  }
}