ui-select {
  position: relative;
  display: block;

  .form-control {
    min-height: calc(1.5em + .75rem + 2px);
    height: auto;
  }

  .placeholder {
    color: #6c757d!important;
  }

  .select-options {
    position: absolute;
    z-index: 100;
    border-radius: 4px;
    border: solid 1px #ced4da;
    width: 100%;
    display: none;
    background-color: #ffffff;

    &.active {
      display: block;
    }

    .select-option {
      padding: .375rem .75rem;
      cursor: pointer;
      &:not(.disabled):hover {
        background-color: var(--hover-bg-color);
      }
      &.active {
        background-color: #dedede;
      }
      &.disabled {
        cursor: default;
        color: var(--gray);
      }
    }
  }
}