<web-input tips="No label" value="value"></web-input>
<web-input label="User name" prefix="@" placeholder="Type your name..." tips="Please type your full name"></web-input>
<web-input label="Total" prefix="$" suffix=".00"></web-input>
<web-input label="Required <span style='color:red;'>*</span>" required required-message="This is a required field."></web-input>
<web-input id="email" label="Email" tips="Your primary email address." pattern=".+@\w+\.\w+" pattern-message="Invalid email format."></web-input>
<web-input label="Email" value="invalid email" validate pattern=".+@\w+\.\w+" pattern-message="Invalid email format."></web-input>
<web-input label="Color" value="#000" type="color-text"></web-input>