<ui-input tips="No label" value="value"></ui-input>
<ui-input label="User name" prefix="@" placeholder="Type your name..." tips="Please type your full name"></ui-input>
<ui-input label="Total" prefix="$" suffix=".00"></ui-input>
<ui-input label="Required <span style='color:red;'>*</span>" required required-message="This is a required field."></ui-input>
<ui-input id="email" label="Email" tips="Your primary email address." pattern=".+@\w+\.\w+" pattern-message="Invalid email format."></ui-input>
<ui-input label="Email" value="invalid email" validate pattern=".+@\w+\.\w+" pattern-message="Invalid email format."></ui-input>
<ui-input label="Color" value="#000" type="color-text"></ui-input>