<web-select options='["Option 1", "Option 2"]' value="Option 2" placeholder="Choose the item...">
</web-select>
<web-select label="Country" options='[
  {"label": "China", "value": "China", "description": "Here is the country description."},
  {"label": "Canada", "value": "Canada", "description": "Here is the country description."}
  ]' value="Canada" value-field="value"
  value-template="<img src='https://www.printableworldflags.com/icon-flags/24/{label}.png'> {label} <small class='text-muted'>{description}</small>"
  option-template="<img src='https://www.printableworldflags.com/icon-flags/24/{label}.png'> {label} <br /> <small class='text-muted'>{description}</small>">
</web-select>
<web-select label="Country" options='[
  {"label": "China", "value": "China", "description": "Here is the country description."},
  {"label": "Canada", "value": "Canada", "description": "Here is the country description."},
  {"label": "Chad", "value": "Chad", "description": "Here is the country description."},
  {"label": "Cuba", "value": "Cuba", "description": "This option is disabled.", "disabled": true},
  {"label": "Eritrea", "value": "Eritrea", "description": "Here is the country description."},
  {"label": "Haiti", "value": "Haiti", "description": "Here is the country description."},
  {"label": "Laos", "value": "Laos", "description": "Here is the country description."},
  {"label": "Kosovo", "value": "Kosovo", "description": "Here is the country description."}
  ]' value="China" value-field="value"
  disabled-field="disabled"
  option-template="<img src='https://www.printableworldflags.com/icon-flags/24/{label}.png'> {label} <br /> <small class='text-muted'>{description}</small>" required>
</web-select>